/*
 *  Style for xor.boole.io
 */

body { 
    padding: 30px; 
    margin-left: 100px;
    margin-right: 100px;
    background: #e8e8e8;
}

p {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 20;
}

p.intro {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

h1.title { 
    font-size: 2.5em;
    margin-left: 50px; 
    font-family: monaco, menlo, monospace;
}

hr { 
    padding: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75)
    );
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -10px;
    margin-right: -10px;
}

hr:after {
    font-family: menlo, monaco, Consolas, "Lucida Console", monospace;
    content: "*";
    display: inline-block;
    position: relative;
    top: -0.57em;
    font-size: 1.3em;
    padding: 0 0.25em;
}

code {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 0.8em;
    background: #f8f8f8;
    font-family: menlo, monaco, Consolas, "Lucida Console", monospace;
    border-radius: 30px;
}

a.code {
    text-decoration: none;
    color: #000000;
}

a:hover.code {
    text-decoration: underline;
    color: 
}
